.article-above-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
}

.article-heading{
    font-size: 50px;
color: rgb(122, 38, 38);
text-align: center;
}
.articlers-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}
.articlers-info{
    text-align:start ;
}
.articlers-name{
    font-size: 18px;
    color: black;
}
.articlers-postdate{
    font-size: 14px;
    color: gray;
}
.avatar{
    width: 103px;
    height: 103px;
}
.articlers-info{
    margin-right: 30%;
}
.socials-icons-container{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.article-main-image{
    display: flex;
    margin: 20px;
    align-self: center;
    width: 30px;
}

.article-main-para{
    font-size:20px;
    color: rgba(140, 24, 24, 0.568);
}
.genre-likes-container{
    display: flex;
    flex-direction: column;
    width: 18%;
}
.claps-txt{
    margin-left:20px;
    align-content: center;
}
.claps-icon{
    width: 40px;
    height: 39px;
    align-items: center;
}

.genre-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.genre1{
    background-color: #00000029;
    padding: 4px;
    border-radius: 3px;
}
.genre2{
    background-color: #00000029;
    padding: 4px;
    border-radius: 3px;
}
.genre3{
    background-color: #00000029;
    padding: 4px;
    border-radius: 3px;
}

.more{
    text-align: center;
    font-size: 35px;
    margin: 10px;

}
.article-lower-conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    padding: 40px;
    text-align: center;
}
.article-bottom-name{
    text-decoration: none;
    font-size: 25px;
    color: brown;
}
.article-bottom-date{
    font-size: 17px;
}


@media only screen  and (min-width:250px) and (max-width:750px){
    .article-above-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
  
    .article-heading{
        font-size:21px
    }
    .aricel-main-image{
        width: 302px;
        height: 166px;
    }
    .article-main-para{
        font-size:18px;
        width: 300px;
        height: 369px;
    }

    
    .avatar{
        width:75px ;
        height: 75px;
    }
    .articlers-name{
        font-size: 16px;
    }
    .avatar{
        position: relative;
        top: 30px;
        left: 65px;
        width: 75px;
        height: 75px;
    }
    .articlers-info{
        position: relative;
        top: 30px;
        left: 95px;
    }
    .socials-icons-container{
        position: relative;
        bottom: 30px;
        right: 250px;
        

    }
    .twitter-icon{
        margin-left: 12px;
        margin-right: 10px;
    }

    .insta-icon{
        margin-left: 5px;
        margin-right: 15px;
    }

.article-main-para{
    font-size: 18px;
}

.genre-likes-container{
position: relative;
top: 10px;
right: 90px;
width: 30%;
margin-bottom: 55px;
margin-top: 30px;
}

.genre1{
    font-size: 15px;
    padding: 2px;
    width: 35%;
    height: 50%;
    margin-right: 10px;

}
.genre2{
    font-size: 15px;
    padding: 2px;
    width: 35%;
    height: 50%;
    margin-right: 10px;

}
.genre3{
    font-size: 15px;
    padding: 2px;
    width: 85%;
    height: 50%;
    margin-right: 10px;

}
    .more{
        font-size:22px;
    }
    .article-lower-conatiner{
        width: 250px;
    }
    .article-lower-wrapper{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 432px;
    }
    h5{
        width: 100px;
        margin-left: 200px;
    }
    .article-bottom-name{
        width: 100px;
    }
}