.article-above-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
}

.article-heading{
    font-size: 50px;
color: rgb(122, 38, 38);
text-align: center;
}

.article-main-image{
    display: flex;
    margin: 20px;
    align-self: center;
    width: 30px;
}

.article-main-para{
    font-size:20px;
    color: rgba(140, 24, 24, 0.568);
}

.more{
    text-align: center;
    font-size: 35px;
    margin: 10px;

}
.article-lower-conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    padding: 40px;
    text-align: center;
}
.article-bottom-name{
    text-decoration: none;
    font-size: 25px;
    color: brown;
}
.article-bottom-date{
    font-size: 17px;
}


@media only screen  and (min-width:250px) and (max-width:750px){
    .article-above-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vmax;
    }
    
    .article-heading{
        font-size:21px
    }
    .aricel-main-image{
        width: 302px;
        height: 166px;
    }
    .article-main-para{
        font-size:18px;
        width: 300px;
        height: 369px;
    }
    .more{
        font-size:22px;
    }
    .article-lower-conatiner{
        width: 250px;
    }
    .article-lower-wrapper{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 250px;
    }
    h5{
        width: 100px;
        margin-left: 200px;
    }
    .article-bottom-name{
        width: 100px;
    }
}