.page-titles-right{
    text-align: center;
    margin: 30px;
    font-size: 40px;

   
    
    
    
}

.section-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 30px;
}

.left-section-para{
    color: forestgreen;
}


.page-titles-right{
    color: rgb(142, 23, 23);
}

.page-titles-left{
    color: rgb(142, 23, 23);
}
.left-section{
    width: 60%;
}
.left-section-name{
    color: rgb(164, 61, 61)
}

.right-section-name{
    color:#123C69 ;
}

.left-section-info-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    margin-bottom: 70px;
}


.right-section{
    width: 30%;
    margin-left: 50px;

}
.right-section-info-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    margin-bottom: 70px;
    justify-content: center;
    line-height: 170%;
    
}


@media only screen and (min-width:500px )and (max-width:1024px){

    .section-conatiner{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 30px;
    }



}